<h1>Portfolio items</h1>

<% @briefcase_items.each do |briefcase_item| %>
  <p><%= briefcase_item.title %></p>
  <p><%= briefcase_item.subtitle %></p>
  <p><%= briefcase_item.body %></p>
  <%= image_tag briefcase_item.thumb_image unless briefcase_item.thumb_image.nil? %>
<% end %>