<h1><%= @briefcase.title %></h1>

<em><%= @briefcase.subtitle %></em>

<p><%= @briefcase.body %></p>

<h2>Technologies Used:</h2>
  <% @briefcase.technologies.each do |t| %>
    <p><%= t.name %></p>
  <% end %>
</p>


